# Python
backend/venv/
venv/
__pycache__/
*.pyc

# React
frontend/node_modules/
node_modules/
dist/

# Environment
.env
*.env
backend/.env
frontend/.env

# Uploads
backend/uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/